<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Form to edit job</title>
</head>
<body>
<h1>Edit Job</h1>

<form action="#" th:action="@{/v1/edit-job}" th:object="${job}" method="post">
    <input type="hidden" th:field="*{uuid}">
    <label for="title">Title:</label>
    <input type="text" id="title" th:field="*{title}">
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</p>
    <label for="city">City:</label>
    <input type="text" id="city" th:field="*{city}">
    <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City error</p>
    <label for="salary">Salary:</label>
    <input type="number" id="salary" th:field="*{salary}">
    <p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary error</p>
    <div>
        <label for="currency">Currency:</label>
        <select id="currency" th:field="*{currency}">
            <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}">Currency</option>
        </select>
        <p th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}">Currency Error</p>
    </div>
    <div th:each="skill, iterStat : *{skills}">
        <label>
            <input type="text" th:field="*{skills[__${iterStat.index}__]}" th:value="${skill}" />
        </label>
        <p th:if="${#fields.hasErrors('skills')}" th:errors="*{skills}">Skills error</p>
    </div>
    <input type="submit" value="Update">
</form>
</body>
</html>