<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
</head>
<body>

<form action="#" th:action="@{/v1/login}" th:object="${loginRequest}" method="post">
    <p>Email: <label>
        <input type="text" th:field="*{email}"/>
    </label></p>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</p>
    <p>Password: <label>
        <input type="text" th:field="*{password}"/>
    </label></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>