<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
</head>
<body>

<form action="#" th:action="@{/v1/login}" th:object="${loginRequest}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" th:field="*{email}" id="email"/>
        <span th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"
              class="error"></span>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password"/>
        <span th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"
              class="error"></span>
    </div>

    <div>
        <input type="submit" value="Login"/>
    </div>

</form>
</body>
</html>